.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 1.5em 0;
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  border: none;
  padding-bottom: 0;
}

.information h2 {
  font-size: 1.5rem;
}

.information p {
  font-size: 1rem;
  margin-top: 0.5em;
}
