.section {
  display: flex;
  justify-content: center;
}

.order {
  max-width: 60rem;
  width: 100%;
  max-height: 40rem;
  height: 100%;
  margin: 4em 0;
  overflow: scroll;
  background-color: #f1faee;
}
