.submit {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description h2 {
  font-size: 2rem;
}

.description p {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: end;
}

.actions button {
  background-color: #2a9d8f;
  color: white;
  width: 5em;
  height: 3em;
}

.actions button:first-child {
  margin-right: 0.5em;
}

@media screen and (max-width: 610px) {
  .description h2 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 1.2rem;
  }

  .actions button {
    width: 5em;
    height: 2em;
    margin-top: 0.5em;
  }
}
