.modal {
  position: fixed;
  left: 32%;
  width: 36%;
  top: 30%;
}

.modal h2 {
  color: #272640;
  margin-bottom: 1em;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.control:nth-child(3) {
  display: flex;
  flex-direction: row;
}

.control input {
  font-size: 1.2rem;
  width: 100%;
  height: 2em;
  padding: 0.5em;
  border: 1px solid #8d99ae;
  border-radius: 5px;
}

.control input:first-child {
  color: bisque;
}

.invalid::placeholder {
  color: #e63946;
}

.control .invalid {
  border: 1px solid #e63946;
}

.control p {
  color: #e63946;
}

.action {
  display: flex;
  justify-content: end;
}

.action button {
  width: 6em;
  background-color: #2a9d8f;
  color: white;
}

.adressErr {
  display: flex;
  flex-direction: row;
}

.adressErr {
  width: 70%;
}

.apart {
  width: 30%;
}
