.modal {
  position: fixed;
  left: 32%;
  width: 36%;
  top: 30%;
}

.modal h2 {
  color: #272640;
  margin-bottom: 1em;
}

@media screen and (max-width: 982px) {
  .modal {
    left: 20%;
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    left: 10%;
    width: 80%;
  }
}
